.p1 {
    color: rgb(34, 197, 175);
}
.div-1:hover {
    transition: .1s ease-in-out;
    transition-delay: .2s;
    border-radius: 5px;
}
.img{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
